body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #438bbd;
  color: #fff;
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

.header .logo a {
  color: white;
  text-decoration: none;
}

.header .main-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header .main-nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .main-nav li {
  margin: 0 10px;
}

.header .main-nav a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.header .main-nav a:hover {
  background-color: #275270;
}

.search-form {
  display: flex;
  margin-left: auto;
}

.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 10px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  color: white;
}

.search-form input {
  font-size: 1em;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.not-found h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav ul {
    flex-direction: column;
  }

  .photo-container li {
    margin: auto;
  }

  .search-form {
    width: 100%;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    display: inline-block;
    margin: 10px;
    width: auto;
  }
}
