.App {
	background-image: linear-gradient(rgb(0, 122, 93), rgba(0, 122, 93, 0));
	width: 100%;
	height: 1000px;
}

.header {
	text-align: center;
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to bottom right, rgb(0, 122, 93), rgba(0, 122, 93, 0));
}

.header h1 {
	color: white;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.search-form {
	float: right;
	margin-right: 50px;
}

.search-button {
	border-radius: 10%;
}
